[submodule "lib/AssettoCorsaCSPLuaCompatibilityManager"]
	path = lib/AssettoCorsaCSPLuaCompatibilityManager
	url = https://github.com/dreasgrech/AssettoCorsaCSPLuaCompatibilityManager.git
	branch = main
